.form {
  display: flex;
}

.output-container {
  margin-top: 8px;
  display: inline-block;

}

.indi-container {
  margin-bottom: 8px;
  width: 80%;
}

.output {
  border: 2px grey solid;
  padding: 8px;
}
